
@{
    ViewData["Title"] = "StudentList";
}

<h1>StudentList</h1>
<div class="container">
    <br />
    <h4>List Of Students</h4>
    <div class="row">
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-3">Name/Marks</div>
                <div class="col-sm-3">Email</div>
                <div class="col-sm-3">Course</div>
                <div class="col-sm-3">Address </div>
            </div>
            <hr />
            @{
                List<StudentModel> students = (List<StudentModel>)ViewData["students"];
                foreach (StudentModel st in students)
                {
                    <div class="row">
                        <div class="col-sm-3">@st.Name - @st.Grades%</div>
                        <div class="col-sm-3">@st.ContactEmail</div>
                        <div class="col-sm-3">@st.Course</div>
                        <div class="col-sm-3">@st.Address </div>
                    </div>
                }
            }
            <div class="clearfix"></div><br />
            <hr /><b>Students with Percent > 80</b>
            <div class="row">
                <div class="col-sm-3">Name/Grades</div>
                <div class="col-sm-3">Email</div>
                <div class="col-sm-3">Course</div>
                <div class="col-sm-3">Address </div>
            </div>
            <hr />
            @{
                List<StudentModel> studentsFilter = (List<StudentModel>)ViewData["filter"];
                foreach (StudentModel st in studentsFilter)
                {
                    <div class="row">
                        <div class="col-sm-3">@st.Name - @st.Grades%</div>
                        <div class="col-sm-3">@st.ContactEmail</div>
                        <div class="col-sm-3">@st.Course</div>
                        <div class="col-sm-3">@st.Address </div>
                    </div>
                }
            }
            <div class="clearfix"></div><br />
            <hr /><b>List of all subjects taken by students</b>
            <div class="row">
                <div class="col-sm-3">Subjects</div>
            </div>
            <hr />
            @{
                List<string> subjects = (List<string>)ViewData["masterSubjectList"];
                foreach (string subject in subjects)
                {
                    <div class="row">
                        <div class="col-sm-3">@subject</div>
                    </div>
                }
            }
        </div>
    </div>
</div>
