<h2>Student (@ViewData["Method"])</h2>

<div class="row">
    <div class="col-sm-7">
        Name: @ViewData["name"]<br />
        Email: @ViewData["email"]<br />
        Class: @ViewData["course"]<br />
        Address: @ViewData["address"]<br />
    </div>
</div>