@model StudentModel
@{
    ViewData["Title"] = "Student from " + ViewData["Mode"];
}

<h1>Student (@ViewData["Mode"])</h1>
<div>
    <hr/>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model=>model.Name)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model=>model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model=>model.Address)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model=>model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model=>model.Course)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model=>model.Course)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model=>model.ContactEmail)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model=>model.ContactEmail)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model=>model.Age)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model=>model.Age)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Home</a>
</div>

