@model StudentListModel
@{
    ViewData["Title"] = "StudentList";
}

<h2>Student List</h2>
<div class="container">
    <h4>List of All Students</h4>
    <div class="row">
        <div class="col-sm-7">
            <div class="row">
                <div class="col-sm-3">Name/Grade</div>
                <div class="col-sm-3">Email</div>
                <div class="col-sm-3">Class</div>
                <div class="col-sm-3">Address</div>
            </div>
            <hr />
            @{
                foreach (StudentModel st in Model.FullList)
                {
                    <div class="row">
                        <div class="col-sm-3">@st.Name - @st.Grades</div>
                        <div class="col-sm-3">@st.ContactEmail</div>
                        <div class="col-sm-3">@st.Course</div>
                        <div class="col-sm-3">@st.Address</div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="clearfix"></div><br />
    <h4>Students Grouped by Grades</h4>
    <hr />
    @foreach (var g in Model.GroupedList)
    {
        <div class="row">
            <div class="col-sm-12"><b>Grades: @g.Key</b><br />
                @foreach (StudentModel s in g)
                {
                    @s.Name<br />
                }
            </div> 
        </div>
    }
</div>

